<!--
file: projects.ejs
author: Akshar Patel (301209904)
date: OCT 15, 2022
--> 
<%- include('Partials/header.ejs'); %>
<div class="wrapper-container">
    <%- include('Partials/navbar.ejs'); %>
    <!-- projects section -->
    <section id="project" class="projects-section">
        <h2>My Projects</h2>
        <div class="flex-container">
            <div class="proj-left">
                <h3>Weather Website </h3>
                <!-- Weather website image -->
                    <img src="Assets/img/weather.png"  alt="weather site" width="400" height="400">
            </div>
            <div class="proj-right">
                <h3> EMI Calculator</h3>
                <!-- EMI Calculator image -->
                <img src="Assets/img/emi.png" alt="emi calculator" width="400" height="400">
            </div>
        </div>
    </section>
</div>
<%- include('Partials/footer.ejs'); %>