<!--
file: services.ejs
author: Akshar Patel (301209904)
date: OCT 15, 2022
--> 
<%- include('./Partials/header.ejs'); %>
<div class="wrapper-container">
    <%- include('./Partials/navbar.ejs'); %>
    <section id="experience" class="services-section">
        <p style="margin-top: 80px; margin-bottom: 50px;">I have learned this things for better carrer.</p>
        <h2>Services</h2>
        <div class="flex-container">
            <!-- service left div -->
            <div class="exp-left">
                <h3>Web Design and Development</h3>
                <p>I am not a fullstack web developer right now but I am constantly learning so hopefully I will gain that status in near future.</p>
            </div>
            <!-- service right div -->
            <div class="exp-right">
                <h3>Database Design</h3>
                <p>This is my most favorite subject because I love learning about SQL and various databases. . </p>
            </div>
        </div>
    </section>
</div>
<%- include('./Partials/footer.ejs'); %>